@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-box > div:nth-child(odd) .cta-block .cta-item {
  border-bottom: 1px solid rgb(51 51 51 / 20%);
} 
.custom-box > div:nth-child(even) .cta-block .cta-item {
  @apply border-white
} 
.custom-box > div:nth-child(even) svg path {
    @apply fill-white;
}
.custom-box > div:nth-child(even) .cta-block span {
   @apply text-white
} 
.custom-box > div:nth-child(even) p {
    @apply text-white;
} 
.img-right >div >div {
  @apply ml-0 lg:mr-[-60px]
}
.two-box-center .list-block-cta {
  @apply block md:flex w-full;
} 
.two-box-center .list-block-cta >div {
  @apply md:w-[50%]; 
}
.two-box-center h2,
.two-box-center .list-block-cta >div {
  @apply text-center;
}
.two-box-center .cta-item {
  @apply justify-center;
}
.two-box-center .cta-item >div:last-child {
  @apply w-auto;
}
.single-content-style h2,
.single-content-style h3,
.single-content-style strong {
  @apply text-xl font-inter font-medium text-[#0A2540];   
}
.single-content-style p {
  @apply text-[15px] leading-7 font-inter font-normal text-[#88938F]; 
}

/*checkbox*/
.custom-radio-button::before {
  content: '';
  @apply h-[10px] w-[10px] rounded-full bg-transparent transition-all duration-200 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}
.peer:checked + .custom-radio-button {
  @apply border-[#228EA9];
}
.peer:checked + .custom-radio-button::before {
  @apply bg-[#228EA9];
}
.custom-checkbox-button2 {
  @apply relative h-[18px] w-[18px] rounded-[4px] border-2 border-[#0a254099] 
          flex items-center justify-center transition-all duration-200; 
}
.peer2:checked + .custom-checkbox-button2 {
  @apply border-[#0a254099]; 
}
.peer1.peer2:checked + .custom-checkbox-button2 {
  @apply border-[#88938F]; 
}


.peer2:checked + .custom-checkbox-button2 > svg {
  @apply opacity-100;
}
/**/
.page-default h2, .page-default h3 {  
  /* @apply font-display italic-normal font-bold text-[32px] leading-[40px] text-primary; */
  @apply font-display font-bold text-[32px] leading-[40px] text-primary mb-4;
  
}
.page-default p, .page-default {
  @apply font-inter font-normal text-[16px] leading-[26px] text-[#88938F];
} 
.page-default strong {
  @apply font-inter font-bold text-[16px] leading-[26px] text-[#0A2540];
}
.page-default p {
  @apply mb-2;
}
.page-default ul li {
  @apply list-disc ml-5 mb-1;
}
.custom-menu >li:last-child {
  @apply opacity-50;
}
@media only screen and (min-width: 1024px) {
    .img-right >div {
      @apply flex-row-reverse;
    }
 }
 @media only screen and (max-width: 1023px) {
    .img-right >div {
      @apply flex-col-reverse;
    }
    .mobile-image.top {
      @apply flex-col-reverse;
    }
 }
@media only screen and (max-width: 480px) {
    .logo-responsive {
      @apply w-[180px];
    }
}