name: Deploy React Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH to Server and pull source
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/projects/FIL/react-fil
            git pull origin main
            docker-compose stop react-fil
            docker-compose rm -f react-fil
            docker-compose build react-fil
            docker-compose up -d react-fil
            docker run -d -p 3001:3000 --name react-fil react-fil